@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

h3 {
  margin-bottom: 4px;
  font-size: 1rem;
}

p {
  font-size: 90%;
}

a {
  color: black;
  text-decoration: none;
}

a :hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1rem;
  -webkit-box-shadow: 2px 6px 8px #b3b0b0;
          box-shadow: 2px 6px 8px #b3b0b0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
}

button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff98e2), to(#a36fe1));
  background: linear-gradient(#ff98e2, #a36fe1);
  -webkit-box-shadow: 3px 7px 9px #9a9696;
          box-shadow: 3px 7px 9px #9a9696;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.loader {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 999;
  -webkit-animation: loader 3s linear both;
          animation: loader 3s linear both;
}

.loader span {
  font-size: 250%;
  font-family: "Shrikhand", cursif;
  text-shadow: 1px 2px #9356DC, 2px 4px #FF79DA;
  -webkit-animation: ohmyfood 3s none;
          animation: ohmyfood 3s none;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.8rem;
  -webkit-box-shadow: 0px 2px 8px #b3b0b0;
          box-shadow: 0px 2px 8px #b3b0b0;
}

header a {
  position: absolute;
  left: 1.5rem;
  top: 1.4rem;
  font-size: 1.2rem;
}

header img {
  margin-top: 0.5rem;
  width: 10rem;
}

/** section recherche **/
.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  padding: 1rem;
}

.search__form i {
  width: 1.5rem;
}

.search__form input {
  background-color: transparent;
  border: none;
  width: 8rem;
}

.search__form input:focus-visible {
  outline: none;
}

.search__form ::-webkit-input-placeholder {
  color: black;
  font-size: 120%;
}

.search__form :-ms-input-placeholder {
  color: black;
  font-size: 120%;
}

.search__form ::-ms-input-placeholder {
  color: black;
  font-size: 120%;
}

.search__form ::placeholder {
  color: black;
  font-size: 120%;
}

.search__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 2.5rem;
  text-align: center;
  gap: 1rem;
}

/** section fonctionnement **/
.function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 1.5rem;
}

.function__button {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 2px 6px 8px #b3b0b0;
          box-shadow: 2px 6px 8px #b3b0b0;
}

.function__button:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.function__button:hover i {
  color: #9356DC;
  opacity: 1;
}

.function__button span {
  position: absolute;
  font-weight: 300;
  left: -0.6rem;
  top: 1.3rem;
  padding: 4px 9px;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
}

.function__button i {
  position: absolute;
  opacity: 0.5;
  left: 2.5rem;
  font-size: 1.1rem;
}

.function__button p {
  font-weight: 600;
}

/** section restaurants **/
.resto {
  background-color: #f6f6f6;
  padding: 3rem 1.5rem;
}

.resto__card {
  position: relative;
  background-color: white;
  -webkit-box-shadow: 2px 6px 8px #b3b0b0;
          box-shadow: 2px 6px 8px #b3b0b0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 15rem;
}

.resto__card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.resto img {
  height: 10.5rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto__tag {
  position: absolute;
  background-color: #99E2D0;
  border-radius: 3px;
  color: #2c9c81;
  padding: 0.5rem;
  font-weight: 600;
  top: 1rem;
  right: 1rem;
}

.resto__text {
  padding: 0.8rem;
}

/** Animation logo coeur **/
.heart {
  position: absolute;
  bottom: 1.5rem;
  right: 1rem;
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.heart__empty {
  position: absolute;
  font-size: 1.5rem;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart__empty {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
}

.heart__full {
  position: absolute;
  font-size: 1.5rem;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.heart:hover .heart__full {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/** Image présentation pages menu **/
.heading__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading__image img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/** Section Menu pages **/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  padding: 1rem;
  margin-top: -50px;
}

.menu__title {
  font-family: "Shrikhand", cursif;
  font-weight: 400;
  padding: 1rem 0.5rem;
}

.menu .heart {
  top: 2.3rem;
  right: 1.8rem;
}

.menu__container--title {
  font-weight: 100;
  font-size: 1rem;
  padding: 0 0.5rem;
  margin: 1rem 0;
}

.menu__container--title::after {
  content: "";
  display: block;
  margin-top: 6px;
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
}

.menu__anim {
  background-color: white;
  width: 100%;
  height: 4.5rem;
  border-radius: 20px;
  -webkit-box-shadow: 2px 3px 5px #b3b0b0;
          box-shadow: 2px 3px 5px #b3b0b0;
  padding: 1rem;
  margin-bottom: 1rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #2E2E2E;
  padding: 20px;
}

.footer__logo {
  font-family: "Shrikhand", cursif;
  font-weight: 100;
  margin-bottom: 20px;
}

.footer__list li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.footer__list i {
  font-size: 0.8rem;
  margin-right: 10px;
  width: 1rem;
}

.footer__list a {
  color: white;
}

.footer__list a:hover {
  font-weight: bold;
}

/** loader spinner **/
@-webkit-keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes ohmyfood {
  0% {
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes ohmyfood {
  0% {
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
/*# sourceMappingURL=style.css.map */