@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: auto;
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a :hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.loader {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 999;
  -webkit-animation: loader 3s linear both;
          animation: loader 3s linear both;
}

.loader span {
  font-size: 250%;
  font-family: "Shrikhand", cursif;
  text-shadow: 1px 2px #9356DC, 2px 4px #FF79DA;
  -webkit-animation: ohmyfood 3s none;
          animation: ohmyfood 3s none;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.8rem;
  -webkit-box-shadow: 0px 2px 8px #b3b0b0;
          box-shadow: 0px 2px 8px #b3b0b0;
}

header a {
  position: absolute;
  left: 1.5rem;
  top: 1.4rem;
  font-size: 1.2rem;
}

header img {
  margin-top: 0.5rem;
  width: 10rem;
}

/** section recherche **/
.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  padding: 1rem;
}

.search__form i {
  width: 1.5rem;
}

.search__form input {
  background-color: transparent;
  border: none;
  width: 8rem;
}

.search__form ::-webkit-input-placeholder {
  color: black;
  font-size: 120%;
}

.search__form :-ms-input-placeholder {
  color: black;
  font-size: 120%;
}

.search__form ::-ms-input-placeholder {
  color: black;
  font-size: 120%;
}

.search__form ::placeholder {
  color: black;
  font-size: 120%;
}

.search__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 2rem;
  text-align: center;
  gap: 1rem;
}

.search__explore h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  background-color: #2E2E2E;
  padding: 20px;
}

.footer__logo {
  font-family: "Shrikhand", cursif;
  font-weight: 100;
  margin-bottom: 20px;
}

.footer__list li {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.footer__list i {
  font-size: 0.8rem;
  margin-right: 10px;
  width: 1rem;
}

.footer__list a {
  color: white;
}

.footer__list a:hover {
  font-weight: bold;
}

@-webkit-keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes ohmyfood {
  0% {
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes ohmyfood {
  0% {
    -webkit-transform: rotate(0deg) scale(0.2);
            transform: rotate(0deg) scale(0.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}
/*# sourceMappingURL=style.css.map */