/** loader spinner **/
.loader {
    @include size(100vw, 100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    z-index: 9999;
    animation: loader 3s forwards;

    span {
        font-size: 45px;
        font-family: $font-title;
        text-shadow: (1px 2px $color-primary, 2px 4px $color-secondary);
        animation: ohmyfood 3s forwards;
        text-align: center;
    }
}