/** section recherche **/

.search {
    &__form {
        display: flex;
        justify-content: center;
        background-color: $color-background1;
        padding: 1rem;

        i {
            width: 1.5rem;
        }

        input {
            background-color: transparent;
            border: none;
            width: 8rem;
        }

        ::placeholder {
            color: black;
            font-size: 120%;
        }
    }

    &__explore {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-background2;
        padding: 2.5rem;
        text-align: center;
        gap: 1rem;
    }
}

/** section fonctionnement **/

.function {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 1.5rem;

    &__button {
        position: relative;
        width: 100%;
        padding: 1.5rem;
        text-align: center;
        margin-bottom: 1.5rem;
        cursor: pointer;
        background-color: $color-background2;
        border-radius: 20px;
        box-shadow: 2px 6px 8px $color-box-shadow;

        &:hover {
            transform: scale(1.03);
            transition: all 0.5s;
            i {
                color: $color-primary;
                opacity: 1;
            }
        }

        span {
            position: absolute;
            font-weight: $light;
            left: -0.6rem;
            top: 1.3rem;
            padding: 4px 9px;
            background-color: $color-primary;
            border-radius: 50%;
            color: white;
        }

        i {
            position: absolute;
            opacity: 0.5;
            left: 2.5rem;
            font-size: 1.1rem;
        }
        
        p {
            font-weight: $bold;
            font-size: 90%;
        }
    }
}

/** section restaurants **/

.resto {
    background-color: $color-background2;
    padding: 3rem 1.5rem;

    &__card {
        position: relative;
        background-color: white;
        box-shadow: 2px 6px 8px $color-box-shadow;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 1rem;
        width: 100%;
        height: 15rem;

        &:hover {
            transform: scale(1.03);
            transition: all 0.5s;
        }
    }

    img {
        height: 10.5rem;
        width: 100%;
        object-fit: cover;
    }

    &__tag {
        position: absolute;
        background-color: $color-tertiary;
        border-radius: 3px;
        color: darken($color-tertiary, 35%);
        padding: 0.5rem;
        font-weight: $bold;
        top: 1rem;
        right: 1rem;
    }

    &__text {
        padding: 0.8rem;
        height: 4rem;

        h3 {
            margin-bottom: 4px;
            font-size: 1rem;
        }
    }

    .heart {
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        width: 30px;
        height: 24px;

        i {
            position: absolute;
            font-size: 1.5rem;
        }
    
        &__empty{
            background: black;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        &__full{
            transition: all 0.3s;
            @include button($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(0);
        }  
        
        &:hover .heart__full{
            transform: scale(1);
        }
        
        &:hover .heart__empty{
            @include button($color-primary, $color-secondary);
            -webkit-background-clip: text;   
        }
    }
}