/** Image présentation pages menu **/
.heading__image {
    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
}

/** Section Menu pages **/
.menu {
    position: relative;
    background-color: $color-background2;
    border-radius: 50px 50px 0 0;;
    padding: 1rem;
    margin-top: -50px;

    &__title {
        font-family: $font-title;
        font-weight: $normal;
        padding: 1rem 0.3rem;
        @include media-m {
            display: flex;
            justify-content: center;
        }
    }

    .heart {
        top: 2.3rem;
        right: 1.8rem;
    }

//articles
    &__container {
        display: flex;
        flex-direction: column;
        @include media-m {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 1rem;
            padding: 0 1rem;
        }
        
        &--title {
            font-weight: $light;
            font-size: 1rem;
            padding: 0 0.3rem;
            margin: 1rem 0;
            @include media-m {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            &::after {
                content: "";
                display: block;
                margin-top: 6px;
                background-color: $color-tertiary;
                @include size (45px, 3px)
            }
        }
    }

    &__anim {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: white;
        margin-bottom: 1rem;
        border-radius: 15px;
        box-shadow: 2px 3px 5px $color-box-shadow;
        overflow: hidden;
        cursor: pointer;
        animation: menu 800ms ease backwards;

        &:hover .menu__anim--check-icone {
            transition: width 0.4s ease-in-out;
            width: 60px;
            i{
                font-size: 1.2rem;
                animation: rotate 0.4s 0.1s;
            }
        }
        
        &--text {
            display: flex;
            flex-direction: column;
            padding: 0.8rem 0.5rem;
            width: 50px;
            flex: 2;  
            overflow: hidden;
            white-space: nowrap;
        }

        span {
            font-size: 0.9rem;
            padding-bottom: 0.8rem;
            margin-right: 1rem;
        }

        &--check-icone {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-tertiary;
            color: white;
            @include size (0, 66px);      
        }
    }

    //bouton
    
    &__button {
        display: flex;
        justify-content: center;
        margin: 1rem 0 2rem;
        button {
            width: 10rem;
        }
    }
}