/** Animation logo coeur **/
.heart {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    cursor: pointer;
    @include size(30px, 24px);
    
    &__empty {
        position: absolute;
        font-size: 1.5rem;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover .heart__empty {
        @include button($color-primary, $color-secondary);
        -webkit-background-clip: text;   
    }
    
    &__full {
        position: absolute;
        font-size: 1.5rem;
        transition: all 1.5s;
        @include button($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
    }

    &:hover .heart__full {
        transform: scale(1);
    }
}