@keyframes loader {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes ohmyfood {
    0% {
        transform: rotate(0deg) scale(0.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}