@mixin button($from, $to) {
  background: linear-gradient($from, $to);
  }

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

/** Média Queries **/

@mixin media-xs {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin media-s {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-m {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin media-l {
  @media screen and (max-width: 1440px) {
    @content;
  }
}