@mixin button($from, $to) {
  background: linear-gradient($from, $to);
  }

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

/** Média Queries **/

@mixin media-xs {
  @media screen and (max-width: 360px) {
    @content;
  }
}

@mixin media-s {
  @media screen and (min-width: 660px) {
    @content;
  }
}

@mixin media-m {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-l {
  @media screen and (min-width: 1024px) {
    @content;
  }
}