$font-title: "Shrikhand", cursif;
$font-text: "Roboto", sans-serif;


$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background1: #eaeaea;
$color-background2: #f6f6f6;